.animationBox {
    float: right;
    width: 50%;
    display: block;
    margin: 0 auto;
    align-content: center;
}

.textBox {
    float: left;
    width: 50%;
    display: block;
    color: #0971ab;

    h2 {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .button {
        padding: .75rem;
        background-color: #0971ab;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        max-width: 75%;
display: inline-block;
text-align: center;
float: left;
    }

    .button:hover {
        background-color: #57abe1;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (max-width: 480px) {
    .animationBox {
      display: none;
    }

    .textBox {
        width:100%;
    }
  }
